@media(min-width:60em) {
    html {
        font-size: 100%;
    }
}

html {
    overflow: -moz-scrollbars-none;
}

body {
    background: #000;
    overflow: hidden;
}

.bodyAll {
    color: orange;
    display: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 100%;
    line-height: 1.2;
    font-family: Courier;
}

.unsupportedBrowser {
    display: inline;
    color: orange;
    font-family: Courier;
}

.clickable {
    color: red;
    cursor: pointer;
    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menuBar {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 1rem;
    text-align: right;
}

.heading {
    margin-left: 10px;
}

.titleArt {
    margin-left: 10px;
    font-size: 20%;
}

#prestigeArt {
    font-size: .44vw;
    line-height: 130%;
}

.hr {
    color: orange;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}

.important {
    color: #ff0;
}

p {
    margin: 0;
    margin-right: 20px;
}

.flash {
    color: purple;
}

.flex-container {
    display: -webkit-flex;
    display: none;
    width: auto;
    height: auto;
}

.flex-item {
    width: 50%;
    height: auto;
    margin-left: 10px;
    margin-right: 20px;
}

.scroll {
    overflow-y: auto;
    height: 84vh;
}

.FirefoxFix {
    width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
}

ul.tab {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

ul.tab li {
    float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    color: red;
    padding: 14px 16px;
}

.tabContent {
    display: none;
}

.dropbtn {
    color: red;
    cursor: pointer;
    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #000;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}