body {
    background-color: #000;
    font-size: 1.8vw;
    font-size: 1.8vh;
}

.all {
    color: orange;  
    display: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickRed {
    color: red;
    cursor: pointer;
    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#footer {
    position: absolute;
    bottom: 0;
}

#footerSave {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  
  text-align: right;
}

.title {
    color: blue;
}

* {
    font-family: Courier;
}

.heading {
    margin-left: 10px;
}

.testleft {
    float: left;
}

.floatRight {
    float: right;
    width: 50%;
    margin-right: 10px;
}

hr {
    background-color: #000;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}

.output {
    float: left;
    width: 50%;
}

.bottompad {
    margin-bottom: 5%;
    position: absolute;
    bottom: 0;
}

.number {
    color: #ff0;
}

.thankyou {
    height: 200px;
    width: 400px;
    background: #000;
    position: fixed;
    top: 50%;
    left: 50%;
}

.description {
    color: #C70039;
}

p {
    margin: 0px;
    margin-right: 20px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;

}

.flex-item {

    width: 50%;
    height: auto;
    margin-left: 10px;
    margin-right: 20;
}